test.stl
__pycache__/mesh_builder.cpython-38.pyc
pixels.stl
backplate.stl
.idea/misc.xml
.idea/modules.xml
.idea/Pixel-Art-Extruder.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
build/main_gui/Analysis-00.toc
build/main_gui/base_library.zip
build/main_gui/EXE-00.toc
build/main_gui/main_gui.pkg
build/main_gui/PKG-00.toc
build/main_gui/PYZ-00.pyz
build/main_gui/PYZ-00.toc
build/main_gui/Tree-00.toc
build/main_gui/Tree-01.toc
build/main_gui/Tree-02.toc
build/main_gui/warn-main_gui.txt
build/main_gui/xref-main_gui.html
dist/main_gui
src/__pycache__/main.cpython-39.pyc
src/__pycache__/mesh_builder.cpython-39.pyc
src/__pycache__/mesh_generating_utils.cpython-39.pyc
